<div class="mt-5 pt-5 mb-3 d-flex justify-content-center container">
  <form action="/" method="POST">
    <h2>Account Login</h2>
    <div class="mt-5 mb-4">
      <input type="email" name="email" class="border border-dark form-control" placeholder="Email" required>
    </div>
    <div class="mb-4">
      <input type="password" name="password" class="border border-dark form-control" placeholder="Password" required>
    </div>
    <div class="text-center">
      <button type="submit" class="btn btn-outline-primary" id="shorten-button">
        Sign in
      </button>
    </div>
  </form>
</div>